.form {
  margin-top: 2rem;
  background-color: $primary-blue;
  padding: 2rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column-reverse;

  > div {
    margin-bottom: 1.5rem;
  }

  legend {
    display: none !important;
  }

  @include breakpoint($tablet) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem 5rem;

    > div {
      margin-bottom: 0;
    }
  }

  img {
    width: 2.9rem;
    display: inline-block;
    margin-right: 1.5rem;
  }

  div.asp_w.asp_s.searchsettings form, 
  div.asp_w.asp_sb.searchsettings form {
    margin: 0 !important;
  }

  .searchsettings .chosen-container-single .chosen-single {
    border: none;
    color: $white;
    font-size: responsive 1.8rem 2.8rem !important;
    background: $primary-blue;
    margin-right: 1.5rem;
    box-shadow: none;
    padding: 0;
    width: auto;
  }

  .searchsettings .chosen-container-single .chosen-single div {
    width: 28px;
    transform: rotate(90deg);
  }

  .searchsettings .chosen-container-single.chosen-with-drop .chosen-single div {
    transform: rotate(-90deg);
  }

  .searchsettings .chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 18px;
    background: {
      image: url('../img/slider-arrow.svg');
      repeat: no-repeat;
      size: contain;
      position: center center;
    }
  }

  div.asp_w.asp_s.searchsettings input[type='text']:not(.chosen-search-input), 
  div.asp_w.asp_sb.searchsettings input[type='text']:not(.chosen-search-input),
  div.asp_m.asp_m_1 .probox .proinput input.orig {
    border: none;
    color: $white;
    font-size: responsive 1.8rem 2.8rem !important;
    background: $primary-blue !important;
    margin: 0 1.5rem 0 0 !important;
    box-shadow: none;
    padding: 0 !important;
    width: auto;
    height: auto !important;
    width: auto !important;
  }

  div.asp_m.asp_m_1 .probox .proinput input.orig {
    margin-top: 5px !important;
  }

  div.asp_sb.asp_sb_1.searchsettings fieldset {
    width: auto !important;
  }

  div.asp_w.asp_s.searchsettings fieldset, div.asp_w.asp_sb.searchsettings fieldset {
    margin: 0 !important;
  }

  div.asp_m.asp_m_1 .probox .promagnifier {
    box-shadow: none !important;
  }

  div.asp_m.asp_m_1 .probox .promagnifier div.asp_text_button {
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    border: none;
    transition: background 0.2s ease;
    background-color: $light-green;
    color: $white;
    font-size: responsive 1.8rem 2.8rem;
    font-weight: $regular;

    &:hover {
      background-color: $dark-green;
    }
  }

  div.asp_m.asp_m_1 {
    box-shadow: none !important;
    border: none !important;
    background: transparent !important;
  }

  div.asp_m.asp_m_1 .probox {
    height: 45px;
    background: transparent !important;
  }

  div.asp_m.ajaxsearchpro .probox .promagnifier .innericon, 
  div.asp_m.ajaxsearchpro .probox .prosettings .innericon, 
  div.asp_m.ajaxsearchpro .probox .proclose .innericon,
  div.asp_m.asp_m_1 .probox .prosettings {
    display: none !important;
  }

  div.asp_m.asp_m_1 .probox .proloading,
  div.asp_m.asp_m_1 .probox .proclose {
    margin-top: 6px;
    margin-right: 5px;
  }

  select,
  input[type=text] {
    border: none;
    color: $white;
    font-size: responsive 1.8rem 2.8rem;
    background-color: $primary-blue;
    margin-right: 1.5rem;
    box-shadow: none;
    padding: 0;
    width: auto;
  }

  input[type=text]::placeholder {
    color: rgba($white, 0.5);
  }

  select {

  }
}
.form-results {
  margin-top: 2rem;

  div.asp_r.asp_r_1.vertical {
    padding: 5rem;
    border-radius: 1.5rem;
    background: $background-grey;
    border: none;
  }

  div.asp_w.asp_r .results .item {
    border: none !important;
  }

  div.asp_r.asp_r_1 .results .item div.etc {
    display: none;
  }

  div.asp_r.asp_r_1.vertical .results .item .asp_content {
    padding: 0;
    position: relative;

    .location,
    .company-name {
      display: block;
      margin: 10px 0;
      color: $primary-blue;
      font-size: responsive 1.8rem 2.2rem;
    }

    .btn {
      position: absolute;
      top: 1rem;
      right: 0;
      background-color: transparent;
      color: $lumo-green;
      font-size: responsive 1.8rem 2.2rem;
      font-weight: $regular;
      border: 4px solid $lumo-green;
      display: inline-block;
      padding: 1rem 2rem;
      border-radius: 5rem;
      transition: background 0.2s ease;

      &:hover {
        background-color: $lumo-green;
        color: $white;
      }
    }
  }

  div.asp_w.asp_r.vertical .results .asp_spacer {
    margin: 10px 0;
  }

  div.asp_w.asp_r .results a span.overlap {
    display: none;
  }

  div.asp_r.asp_r_1.vertical .item .asp_content h3,
  div.asp_r.asp_r_1.vertical .item.hovered .asp_content h3 {
    font-weight: bold;
    margin: 0 0 10px;

    a {
      color: $light-green;
      font-size: responsive 1.8rem 2.2rem;
    }
  }
}