.form {
  margin-top: 2rem;
  background-color: $primary-blue;
  padding: 2rem;
  border-radius: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  white-space: nowrap;

  > div {
    margin-bottom: 1.5rem;
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: relative;

    &:first-child {
      width: 19rem;
    }

    &:nth-child(2),
    &:nth-child(3) {
      &:after {
        content: '';
        width: calc(100% - 4rem);
        height: 2px;
        border-radius: 3px;
        display: block;
        position: absolute;
        bottom: -5px;
        right: 0;
        background-color: $white;
      }
    }
  }

  legend {
    display: none !important;
  }

  @include breakpoint($laptop) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 3rem;

    > div {
      margin-bottom: 0;
      width: 25%;
    }
  }

  @include breakpoint($desktop) {
    padding: 3.5rem 5rem;
  }

  img {
    width: 2.4rem;
    display: inline-block;
    margin-right: 1.5rem;
    vertical-align: text-top;

    @include breakpoint($laptop) {
      width: 2.9rem;
    }
  }

  select,
  input[type=text] {
    border: none;
    color: $white;
    font-size: responsive 1.8rem 2.8rem;
    background-color: $primary-blue;
    box-shadow: none;
    padding: 0;
    width: 100%;

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
      box-shadow: inset 0 0 0px 9999px $primary-blue;
      color: $white !important;
    }

    @include breakpoint($laptop) {
      font-size: 2.2rem;
    }
  }

  input[type=text]::placeholder {
    color: rgba($white, 0.5);
  }

  select {
    padding-right: 2rem;
    appearance: none;
    background: {
      image: url('../img/select-arrow.svg');
      repeat: no-repeat;
      size: 1.5rem;
      position: center right;
    }
  }
}


.form-results {
  margin-top: 2rem;
  transition: all 0.4s ease;
  position: relative;

  .result-box {
    position: relative;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    transition: opacity 1s ease;

    &:after {
      content: '';
      width: 100%;
      height: 3px;
      display: block;
      background-color: #B2BAC4;
      position: absolute;
      bottom: 0;
      border-radius: 2px;
    }

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;

      &:after {
        display: none;
      }
    }
  }

  &.is-active {
    padding: 5rem;
    border-radius: 1.5rem;
    background: $background-grey;
  }

  &.in-progress {
    padding: 5rem;
    border-radius: 1.5rem;
    background: $background-grey;
  }

  .loader {
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: rotating 2s linear infinite, pulse 2s infinite;

    &:before {
      content: '';
      display: block;
      width: 4rem;
      height: 4rem;
      background: {
        image: url('../img/loader.svg');
        repeat: no-repeat;
        position: center;
        size: contain;
      }
    }
  }
  

  h4 {
    font-weight: bold;
    margin: 0 0 10px;
    color: $light-green;
    font-size: responsive 1.8rem 2.2rem;
  }

  .location,
  .company-name {
    display: block;
    margin: 10px 0;
    color: $primary-blue;
    font-size: responsive 1.8rem 2.2rem;
  }

  .btn {
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: transparent;
    color: $lumo-green;
    font-size: responsive 1.8rem 2.2rem;
    font-weight: $regular;
    border: 4px solid $lumo-green;
    display: inline-block;
    padding: 0 2rem;
    border-radius: 5rem;
    transition: background 0.2s ease;

    &:hover {
      background-color: $lumo-green;
      color: $white;
    }
  }
}