/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
  box-sizing: border-box;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
  font-size:62.5%;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

body {
  color: $primary-blue;
  font-family: $base-font-family;
  font-size: responsive 1.6rem 2.2rem;
  font-weight: $base-font-weight;
  background-color: $background-grey;
}

.clear {
  *zoom:1;

  &:before,
  &:after {
    content:' ';
    display:table;
  }

  &:after {
    clear:both;
  }
}

img {
  max-width:100%;
  vertical-align:bottom;
}

a {
  color:#444;
  text-decoration:none;
  transition: color 0.2s ease;

  &:hover {
    color:#444;
  }

  &:focus,
  &:hover,
  &:outline {
    outline: 0;
  }
}

input:focus {
  outline:0;
  border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
  position: relative;
  overflow: hidden;

  @include breakpoint($laptop) {
    padding-bottom: 31.5rem;
    min-height: 100%;
  }

  @include breakpoint($laptop) {
    padding-bottom: 31.5rem;
  }
}

.container {
  width: 100%;;
  max-width: 120rem;
  margin: 0 auto;
}

.single-page {
  padding: 8rem 2rem 6rem;

  @include breakpoint($laptop) {
    padding: 18rem 0 12rem;
  }

  h1 {
    font-family: "cortado";
    font-size: responsive 4.3rem 6.8rem;
    margin: 0 0 2rem 0;
    color: $light-green;
  }

  .social-icons {
    display: none;
  }
}

.padding-bellow {
  padding-bottom: 6rem;

  @include breakpoint($laptop) {
    padding-bottom: 16rem;
  }
}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}
::-webkit-selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}
::-moz-selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}

