.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  border: none;
  transition: background 0.2s ease;

  &-primary {
    background-color: $light-green;
    color: $white;
    font-size: responsive 1.8rem 2.8rem;
    font-weight: $regular;

    &:hover {
      background-color: $dark-green;
      color: $white;
    }

    @include breakpoint($laptop) {
      font-size: 2.4rem;
    }
  }

  &-outline {
    background-color: transparent;
    color: $lumo-green;
    font-size: responsive 1.8rem 2.8rem;
    font-weight: $regular;
    border: 4px solid $lumo-green;

    &:hover {
      background-color: $lumo-green;
      color: $white;
    }

    @include breakpoint($laptop) {
      font-size: 2.4rem;
    }
  }
}