.for-clients {
  .intro-section .content {
    text-align: center;
    margin: 0 auto;
    padding: 0 2rem;

    h1 {
      font-size: responsive 4rem 9rem;
    }
  }

  .clients-list {
    padding: 6rem 2rem;
    background-color: $white;

    @include breakpoint($laptop) {
      padding: 10rem 2rem;
    }

    h3 {
      font-family: "cortado";
      font-size: responsive 4.3rem 6.8rem;
      margin: 0;
      color: $light-green;
    }

    ul {
      margin: 2rem -1% 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 49%;
        list-style: none;
        padding: 0;
        margin-bottom: 1%;
        margin-right: 1%;
        border: 3px solid rgba($primary-blue, 0.13);
        height: 7.2rem;
        background-color: $white;
        display: block;
        position: relative;
        
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          max-width: 80%;
          max-height: 70%;
        }

        @include breakpoint($mobile) {
          height: 10.2rem;
        }

        @include breakpoint($tablet) {
          width: 24%;
          height: 12.2rem;
        }

        @include breakpoint($laptop) {
          height: 16.2rem;
        }

        @include breakpoint($desktop) {
          height: 18.2rem;
        }
      }
    }
  }

  .client-about-section {
    padding: 6rem 2rem;
    font-size: responsive 1.6rem 2.2rem;

    @include breakpoint($laptop) {
      padding: 10rem 2rem;
    }

    h3 {
      font-family: "cortado";
      font-size: responsive 4.3rem 6.8rem;
      margin: 0;
      color: $light-green;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 2rem;
        font-size: responsive 1.6rem 2.2rem;
        list-style: none;
        padding-left: 3rem;
        position: relative;
        
        &:before {
          content: '•';
          color: $light-green;
          position: relative;
          left: 0;
          position: absolute;
        }
      }
    }
  }
}