.intro-section {
  padding: 13rem 0 6rem;
  background-color: $light-green;

  @include breakpoint($laptop) {
    padding: 18rem 0 12rem;
  }

  h1 {
    font-family: "cortado";
    font-size: responsive 5rem 9rem;
    margin: 0;
    color: $dark-green;
  }

  p {
    color: $white;
  }

  .content {
    @include breakpoint($tablet) {
      padding-right: 19rem;
    }

    @include breakpoint($laptop) {
      padding-right: 31rem;
    }
  }

  .container {
    padding: 0 3rem;

    @include breakpoint($tablet) {
      padding: 0 2rem;
    }
  }

  .image {
    margin: -26rem -5rem 2rem;
    position: relative;
    width: calc(100% + 20rem);

    @include breakpoint($tablet) {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(78rem,-33rem);
      width: 113rem;
      margin: 0 auto;
    }

    @include breakpoint($laptop) {
      transform: translate(78rem,-39rem);
      width: 113rem;
    }

    @include breakpoint($desktop) {
      transform: translate(92rem,-39rem);
      width: 134rem;
    }
  }

  &.white-background {
    background-color: $white;
    padding: 6rem 0;

    @include breakpoint($laptop) {
      padding: 12rem 0 12rem;
    }

    p {
      color: $primary-blue;
    }
  }
}

.about-content {
  padding: 6rem 0;
  background-color: $white;

  @include breakpoint($laptop) {
    padding: 12rem 0;
  }

  h2 {
    font-family: "cortado";
    font-size: responsive 4.3rem 6.8rem;
    margin: 0 0 6rem 0; 
    color: $light-green;
  }

  p {
    line-height: responsive 1.8rem 3rem;
    font-size: responsive 1.6rem 2.2rem;
    margin-bottom: 1rem;

    @include breakpoint($tablet) {
      margin-bottom: 2rem;
    }
  }

  .container {
    margin-bottom: 6rem;
    padding: 0 3rem;

    @include breakpoint($tablet) {
      padding: 0 2rem;
    }
  }

  &.dark-background {
    background-color: $background-grey;

    .container {
      margin-bottom: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 2rem;
      font-size: responsive 1.6rem 2.2rem;
      list-style: none;
      padding-left: 3rem;
      position: relative;
      
      &:before {
        content: '•';
        color: $light-green;
        position: relative;
        left: 0;
        position: absolute;
      }
    }
  }
}

.connections-map {
  background-color: $white;
  padding: 6rem 0;

  .container {
    position: relative;
  }

  @include breakpoint($tablet) {
    padding: 6rem 0;
  }

  .tabs {
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint($tablet) {
      padding: 6rem;
      flex-wrap: nowrap;
    }

    li {
      list-style: none;
      padding: 0 2rem;
      display: inline-block;

      a {
        font-size: resposinve 1.8rem 3.2rem;
        font-weight: $bold;
      }
    }
  }

  .map {
    width: 30rem;
    margin: 0 auto;

    @include breakpoint($tablet) {
      width: 70rem;
    }

    @include breakpoint($laptop) {
      width: 100rem;
    }

    @include breakpoint($desktop) {
      width: 120rem;
    }
  }
}

.pin {
  &-locations {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  width: 2.7rem;
  height: 3.3rem;
  display: block;
  position: absolute;
  cursor: pointer;
  background: {
    image: url(../img/pin.svg);
    repeat: no-repeat;
    position: center;
    size: contain;
  }

  &.is-active {
    .pin-location-pop {
      display: block;
    }
  }

  &-africa {
    left: 15rem;
    top: 13rem;
    transform: scale(0.7);

    @include breakpoint($tablet) {
      left: 37rem;
      top: 33.5rem;
      transform: scale(1);
    }

    @include breakpoint($laptop) {
      left: 53rem;
      top: 49rem;
    }

    @include breakpoint($desktop) {
      left: 64rem;
      top: 60rem;
    }
  }

  &-europe {
    left: 14rem;
    top: 4rem;
    transform: scale(0.7);

    @include breakpoint($tablet) {
      left: 34rem;
      top: 13rem;
      transform: scale(1);
    }

    @include breakpoint($laptop) {
      left: 50rem;
      top: 20rem;
    }

    @include breakpoint($desktop) {
      left: 59rem;
      top: 25rem;
    }
  }

  &-asia {
    left: 23.5rem;
    top: 7rem;
    transform: scale(0.7);

    @include breakpoint($tablet) {
      left: 57rem;
      top: 20.5rem;
      transform: scale(1);
    }

    @include breakpoint($laptop) {
      left: 82rem;
      top: 32rem;
    }

    @include breakpoint($desktop) {
      left: 99rem;
      top: 38rem;
    }
  }

  &-usa {
    left: 5.5rem;
    top: 6rem;
    transform: scale(0.7);

    @include breakpoint($tablet) {
      left: 15rem;
      top: 18rem;
      transform: scale(1);
    }

    @include breakpoint($laptop) {
      left: 21rem;
      top: 28rem;
    }

    @include breakpoint($desktop) {
      left: 26rem;
      top: 33rem;
    }
  }

  &-location-pop {
    position: absolute;
    display: none;
    min-width: 13.5rem;
    height: 7rem;
    border: 6px solid $light-green;
    background-color: $dark-green;
    border-radius: 1.7rem;
    color: $white;
    font-size: 1.6rem;
    text-align: center;
    padding: 0 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    .location {
      font-weight: bold;
      white-space: nowrap
    }

    .title {
      margin-top: 8px;
      white-space: nowrap
    }
  }
}