.our-talent {
  .intro-section {
    .image {
      transform: translate(0,0);
      margin: -60% -4rem 2rem;

      @include breakpoint($tablet) {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(80rem,-44rem);
        width: 113rem;
        margin: 0 auto;
      }

      @include breakpoint($laptop) {
        width: 113rem;
      }

      @include breakpoint($desktop) {
        width: 134rem;
      }
    }

    .content {
      font-size: responsive 2.2rem 3.2rem;
      
      @include breakpoint($tablet) {
        padding-right: 31rem;
      }

      @include breakpoint($laptop) {
        padding-right: 31rem;
      }

      @include breakpoint($desktop) {
        padding-right: 31rem;
      }

      &.candidates-content {
        padding-right: 0;
      }
    }
  }

  .about-content h2 {
    font-size: responsive 3.2rem 6.8rem;
  }
}